<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"> <!--Mostra o conjunto de caracteres usado para escrever o site.-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"> <!--Garante que a página tem a proporção de 1:1 em qualquer tamanho de visualização.-->
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/main1.css">
    <link rel="stylesheet" href="/styles/partials/page-landing1.css">
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@400;700&amp;family=Poppins:wght@400;600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
    <title>Form</title>


</head>
<body id="page-landing" class="myBackground myZoom">

<!--Header-->
<div id="header" class="rowS">
  <div class="container mb-4"> <!-- Coloca a navegação dentro de um container para o objeto barra de navegação ocupar o centro do contrainer e nao o espaço todo-->
      <nav class="navbar navbar-expand-lg navbar-light justify-content-between">
              <a class="navbar-brand" href="#">
                  <img src="/images/images/tail.jpg" alt="nao foiii" class="img-fluid" height="105" width="105">
              </a>
              <!--botao que vai abrir o menu quanto tiver no repsonsivo. Botao so aparece no breakpoint da classe navbar-expad-lg-->
              <button class="navbar-toggler navButton navbar-btn" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button> 
              <div class="collapse navbar-collapse navBarMargin" id="navbarNav">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active" href="/index1.html-">Página Inicial <span class="sr-only">(current)</span></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/sobre.html">Sobre Nós</a>
                  </li>
                  <li class="nav-item">
                     <a class="nav-link" href="/contato.html">Contato</a>
                   </li>
                </ul>
              </div>
        </nav>
  </div>
</div>
<!--Header-->



<!--Slider-->
<!--A soma das divisões precisa sempre dar 12-->
<div id="slider" class="container flex-align">

   <div class="row caixaForm">

      <div class="col-md-4 col-sm-4 col-xs-12">

      </div>

      </div>
      <div class="col-md-4 col-sm-4 col-xs-12">
         <!--INICIO FORMULARIO-->
         <form class="area-form">
            <h1> Housing Price Classifier</h1>
            <!-- <h6 class="mb-4">Digite as informações para a previsão</h6>-->

            <div class="form-group">
               <label for="exampleInputPassword1"><small> <b>Latitude</b></small></label>
               <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Latitude" name="latitude" step="0.0001" required>
            </div>

            <div class="form-group">
               <label for="exampleInputPassword1"><small> <b>Longitude</b></small></label>
               <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Longitude" name="longitude" step="0.0001" required>
            </div>

            <div class="form-group">
               <label for="exampleInputPassword1"><small> <b>Housing Median Age</b></small></label>
               <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Housing Median Age" name="hma" step="0.0001" required>
            </div>

            <div class="form-group">
               <label for="exampleInputPassword1"><small> <b>Total Rooms</b></small></label>
               <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Total Rooms" name="totalR" step="0.0001" required>
            </div>

            <div class="form-group">
               <label for="exampleInputPassword1"><small> <b>Total Bedrooms</b></small></label>
               <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Total Bedrooms" name="totalB" step="0.0001" required>
            </div>

            <div class="form-group">
               <label for="exampleInputPassword1"><small> <b>Population</b></small></label>
               <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Population" name="population" step="0.0001" required>
            </div>

            <div class="form-group">
               <label for="exampleInputPassword1"><small> <b>Households</b></small></label>
               <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Households" name="households" step="0.0001" required>
            </div>

            <div class="form-group">
               <label for="exampleInputPassword1"><small> <b>Median Income</b>  </small></label>
               <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Median Income" name="medianI" step="0.0001" required>
            </div>

            <div class="form-group">
               <label for="exampleInputPassword1"><small> <b></b>Median House Value</small></label>
               <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Median House Value" name="mhv" step="0.0001" required>
            </div>

            <div class="form-group">
               <label for="exampleInputPassword1"><small> <b></b>Ocean Proximity ()</small></label>
               <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Ocean Proximity" name="ocean_p" step="0.0001" required>
            </div>

            <div class="form-group">
               <label for="exampleInputPassword1"><small><b></b> Status Age ()</small></label>
               <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Status Age" name="status_age" step="0.0001" required>
            </div>
          
           <div class="form-group form-check">
             <input type="checkbox" class="form-check-input" id="exampleCheck1">
             <label class="form-check-label" for="exampleCheck1">Check me out</label>
           </div>
           
           <button type="submit" class="btn btn-success btnc-block">Submit</button>
         </form>

         <!--FIM DO FORMULARIO-->
      </div>
      <div class="col-md-4 col-sm-4 col-xs-12"></div>
      

   </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>
<!--

<form method="POST", action="{{url_for('predict')}}"> required faz com que o campo seja obrigatório
    input faz uma caixa do tipo especificado para digitação
<div>
   <label>Longitude</label>
   <input type="number" name="longitude" step="0.0001" required>
</div>
<div>
   <label>Latitude</label>
   <input type="number" name="latitude" step="0.0001" required>
</div>
   <div>
   <label>Housing Median Age</label>
   <input type="number" name="hma" step="0.0001" required>
</div>
   <div>
   <label>Total Rooms</label>
   <input type="number" name="totalR" step="0.0001" required>
</div>
   <div>
   <label>Total Bedrooms</label>
   <input type="number" name="totalB" step="0.0001" required>
</div>
   <div>
   <label>Population</label>
   <input type="number" name="population" step="0.0001" required>
</div>
   <div>
   <label>Households</label>
   <input type="number" name="households" step="0.0001" required>
</div>
   <div>
   <label>Median Income</label>
   <input type="number" name="medianI" step="0.0001" required>
</div>
   <div>
   <label>Median House Value</label>
   <input type="number" name="mhv" step="0.0001" required>
</div>
   <div>
   <label>Ocean Proximity</label>
   <input type="number" name="ocean_p" step="0.0001" required>
</div>
   <div>
   <label>Status Age</label>
   <input type="number" name="status_age" step="0.0001" required>
</div>

   <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Submit</a>

</form>
-->


